footer {
  display: flex;
  padding: 30px;
  ul {
    flex-basis: 33.3%;
    padding: 0;
    li {
      list-style: none;
      font-size: 16px;
      &.weight {
        font-weight: 700;
        font-style: 18px;
        margin-bottom: 8px;
      }
    }
  }
}
.search_section {
  margin: 20px;
  display: flex;
  width: 350px;
  height: 100%;
  .location {
    width: 50px;
    background-color: lightgray;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    img {
      width: auto;
    }
  }
  .text_box {
    width: 50%;
    flex-grow: 1;
    height: inherit;
    input {
      outline: none;
      border: 0.5px lightgray solid;

      width: 100%;
      padding: 15px 20px;
      display: inline-block;
      box-sizing: border-box;
    }
  }
  .search_btn {
    width: 90px;
    button {
      border: none;
      color: rgb(45, 140, 230);
      height: 100%;
      width: 100%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: rgb(11, 120, 209);
      color: aliceblue;
      font-weight: 550;
      cursor: pointer;
    }
  }
}
